<<<<<<< HEAD


=======
>>>>>>> feature/address
<% if @cart.order_items.any? %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quanity</th>
      <th scope="col">Unit_price</th>
      <th scope="col">Price for the positions</th>
    </tr>
    </thead>
    <tbody>
    <% @cart.order_items.each do |cart| %>
    <tr>
<<<<<<< HEAD
      <th scope="row"><%= link_to cart.product.name, product_path(cart) %></th>
=======
      <th scope="row"><%= link_to cart.product.name, product_path(cart.product) %></th>
>>>>>>> feature/address
      <td><%= cart.quantity %></td>
      <td><%= cart.unit_price %></td>
      <td><%= cart.calculate_price %></td>
    </tr>
    <% end %>
    <tr>
      <th scope="row"> Total price:</th>
      <td></td>
      <td>Number_calculate_method</td>
    </tr>
    </tbody>
  </table>
<<<<<<< HEAD
=======
  <%= link_to 'Add address', new_order_item_address_path(@cart) %>
>>>>>>> feature/address
<% else %>
  <h2>Your cart empty</h2>
<% end %>